.hero{
 
    position: relative;
    background-color: $introBg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:after{
        content: "";
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 40vw;
        background-image: url("../../images/bg-curvy-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        @include breakpoint(medium){
            height: 33vw;
            background-image: url("../../images/bg-curvy-desktop.svg");
        }
      
    }
    > *{
        position: relative;
        z-index: 1;
    }
    img{
        width: 100%;
        max-width: 716px;
    }
    h1{
        max-width: 678px;
        font-size: 1.5em ;
        line-height: 1.5;
        margin: 1.1em 0;
    }
    p{
        max-width: 585px;
        font-size: .95em;
    }
    button{
        margin-top: 8px;
    }
}